@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(228,27,37);
  background: radial-gradient(circle, rgba(228,27,37,1) 42%, rgba(0,0,0,1) 100%);
}
h1{
  color: rgba(255, 255, 255, 0.822);
}
.container-memory{
  padding: 25px;
  border-radius: 10px;
  background: #fffefe1f;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
}
.cards, .card, .view{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards{
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards .card{
  cursor: pointer;
  list-style: none;
  user-select: none;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}
.card.shake{
  animation: shake 0.30s ease-in-out;
}
.card{
  border-radius: 10px;
}
@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}
.card .view{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  pointer-events: none;
  backface-visibility: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: transform 0.25s linear;
}
.card .front-card img{
  width: 19px;
}
.card .back-card img{
  max-width: 45px;
}
.card .back-card{
  transform: rotateY(-180deg);
}
.card.flip .back-card{
  transform: rotateY(0);
}
.card.flip .front-card{
  transform: rotateY(180deg);
}

@media screen and (max-width: 700px) {
  .cards{
    height: 350px;
    width: 350px;
  }
  .card .front-card img{
    width: 17px;
  }
  .card .back-card img{
    max-width: 40px;
  }
}

@media screen and (max-width: 530px) {
  .cards{
    height: 300px;
    width: 300px;
  }
  .card .front-card img{
    width: 15px;
  }
  .card .back-card img{
    max-width: 35px;
  }
}